/* HeroDetailComponent's private CSS styles */
.container{
    width: 100%;
    min-height: 75vh;
    margin-top: 16px;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.2);
    border-radius: 1px;
}
.top-bar{
    height: 58px;
    width: 100%;
    background: #1976D2;
    display: flex;
    align-items: center;
    padding: 16px;
    color: white;
    font-weight: 600;
}
.content {
    padding: 16px 0;
}