.person-container{
    min-height: 80px;
    padding: 16px;
}
.person-info{
    display: flex;
    align-items: center;
}

.person-container:hover{
    background: whitesmoke;
}

.person-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: lightgray;
}

.person-name {
    margin-left: 16px;
    color: rgba($color: #000000, $alpha: 0.8);
}
.drop-icon{
    flex: auto;
    display: flex;
    justify-content: flex-end;
}

.drop-button{
    transform: rotate(90deg);
    transform-origin: center;
    background: unset;
    margin: unset;
    border: unset;
    height: 35px;
    width: 35px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.drop-button:active{
    background: gray;
    border: unset;
}

.drop-button:hover{
    background: rgba($color: gray, $alpha: 0.7);
}

.drop-button:focus{
    background: rgba($color: gray, $alpha: 0.7);
    border: unset;
}

.additional-infos{
    margin: 0 66px;
    color: rgba($color: #000000, $alpha: 0.6);
    font-size: 14px;
    transition: all linear 0.5s;
    opacity: 1;
}
.additional-infos .ng-hide {
    opacity: 0;
}