<div class="person-container">
    <div class="person-info">
        <div class="person-photo"></div>
        <h4 class="person-name">{{$ctrl.person.name}}</h4>
        <div class="drop-icon">
            <!-- In Real App I would use a svg icon -->
            <button ng-click="$ctrl.toogleAdditionalPersonInfos()" class="drop-button">></button>
        </div>
    </div>
    <div class="additional-infos" ng-show="$ctrl.isAdditionalPersonInfosOpen">{{$ctrl.person.disclosableInfo}}</div>
</div>