/* AppComponent's private CSS styles */

$shadow-color: rgba(0,0,0,0.05);

app-root {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topbar {
  height: 64px;
  background: #fff;
  color: rgba(0,0,0,0.75);
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: 0 3px 4px $shadow-color;
  padding: 16px;
}
body {
  background: whitesmoke;
}

main {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}